[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lyght = {editable = true, git = "https://github.com/SimeonAleksov/lyght"}

[dev-packages]

[requires]
python_version = "3.10"
